.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Infraestructura
proxmox/keys
proxmox/pro/nginx
proxmox/pro/bbdd/mongo/certs/*
swarm


### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/dataSources/
.idea/dataSources*
.idea/*.local.*
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### TMP ###
tmp/

# deployment
deployment/fc-mongodb/data/db/diagnostic.data
deployment/fc-mongodb/data/db/journal
deployment/fc-mongodb/data/db/*.wt
deployment/fc-mongodb/data/db/*.lock
deployment/fc-mongodb/data/db/?.*
deployment/fc-mongodb/data/db/WiredTiger*
deployment/fc-mongodb/data/db/storage*
deployment/fc-mongodb/data/db/mongod.lock

deployment/*-postgresql/data

deployment/provider-ebird-init/scripts/samples/data/*
!deployment/provider-ebird-init/scripts/samples/data/.gitkeep

/deployment/provider-base-vault/prod/file/core/
/deployment/provider-base-vault/prod/file/logical/
/deployment/provider-base-vault/prod/file/sys/

# vault
resources/provider-base-vault/vault-data/core
resources/provider-base-vault/vault-data/logical
resources/provider-base-vault/vault-data/sys


# Docker Swarm Data
swarm/data/*
