.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/dataSources/
.idea/dataSources*
.idea/*.local.*
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### TMP ###
tmp/

# providers data
providers/provider-idearium/datasets/*
providers/provider-idearium/venv
!providers/provider-idearium/datasets/.gitkeep

# deployment
deployment/provider-ebird-init/scripts/samples/data/*
deployment/samples-server/samples/provider-base/*
!deployment/samples-server/samples/provider-base/.gitkeep
deployment/samples-server/samples/provider-ebird/*
!deployment/samples-server/samples/provider-ebird/.gitkeep
!deployment/provider-ebird-init/scripts/samples/data/.gitkeep

providers/provider-idearium/scripts/__pycache__
providers/provider-idearium/.env
providers/provider-idearium/.env.pro

system-tests/src/test/resources/policy/provider-directory-local.json
system-tests/src/test/resources/policy/consumer-directory-local.json

*.pem
