.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/dataSources/
.idea/dataSources*
.idea/*.local.*
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### TMP ###
tmp/

# deployment
deployment/fc-mongodb/data/db/diagnostic.data
deployment/fc-mongodb/data/db/journal
deployment/fc-mongodb/data/db/*.wt
deployment/fc-mongodb/data/db/*.lock
deployment/fc-mongodb/data/db/?.*
deployment/fc-mongodb/data/db/WiredTiger*
deployment/fc-mongodb/data/db/storage*
deployment/fc-mongodb/data/db/mongod.lock

deployment/provider-base-postgresql/data/base
deployment/provider-base-postgresql/data/global
deployment/provider-base-postgresql/data/pg_*
deployment/provider-base-postgresql/data/*.conf
deployment/provider-base-postgresql/data/postmaster.opts
deployment/provider-base-postgresql/data/PG_VERSION
deployment/provider-base-postgresql/data/*.pid

# vault
resources/vault/vault-data/core
resources/vault/vault-data/logical
resources/vault/vault-data/sys

