services:

  bds-postgresql:
    container_name: bds-postgresql
    image: postgres:13
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=edc
    volumes:
      - ./deployment/bds-postgresql/data:/var/lib/postgresql/data
      - ./deployment/bds-postgresql/initdb:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d edc_provider-base"]
      interval: 5s
      timeout: 5s
      retries: 10

  provider-base:
    container_name: provider-base
    ports:
      - "19191:19191"
      - "19193:19193"
      - "19194:19194"
    depends_on:
      - bds-postgresql
    build: ./providers/provider-base
    restart: on-failure:5

  provider-ebird:
    container_name: provider-ebird
    ports:
      - "17191:17191"
      - "17193:17193"
      - "17194:17194"
    build: ./providers/provider-ebird
    depends_on:
      - bds-postgresql
    restart: on-failure:5

  provider-ebird-init:
    container_name: provider-ebird-init
    build:
      context: ./deployment/provider-ebird-init
      dockerfile: Dockerfile
    depends_on:
      - bds-postgresql
    env_file:
      - ./deployment/provider-ebird-init/.env
    restart: "no"
    volumes:
      - ./deployment/provider-ebird-init/scripts/samples/data:/app/samples/data

  samples-server:
    container_name: samples-server
    build:
      context: deployment/provider-ebird-init/scripts/samples
      dockerfile: Dockerfile
    ports:
      - "9099:9099"
    volumes:
      - ./deployment/provider-ebird-init/scripts/samples/data:/app

  provider-mastral:
    container_name: provider-mastral
    ports:
      - "18191:18191"
      - "18193:18193"
      - "18194:18194"
    build: ./providers/provider-mastral
    depends_on:
      - bds-postgresql
    restart: on-failure:5

  consumer-base:
    container_name: consumer-base
    ports:
      - "29191:29191"
      - "29193:29193"
      - "29194:29194"
    build: ./consumers/consumer-base

  request-logger:
    container_name: request-logger
    ports:
      - 4001:4000
    build: ./util/http-request-logger

  fc-mongodb:
    container_name: fc-mongodb
    image: mongo:6-jammy
    ports:
      - '27018:27017'
    volumes:
      - ./deployment/fc-mongodb/data/db:/data/db

  federated-catalog:
    container_name: federated-catalog
    ports:
      - "39191:39191"
      - "39193:39193"
      - "39194:39194"
      - "39195:39195"
    build: ./federated-catalog

  search-service:
    container_name: search-service
    ports:
      - "27191:27191"
      - "27193:27193"
      - "27194:27194"
    build: ./consumers/search-service

  climate-service:
    container_name: climate-service
    ports:
      - "28191:28191"
      - "28193:28193"
      - "28194:28194"
    build: ./consumers/climate-service