services:

  bds-postgresql:
    container_name: bds-postgresql
    image: postgres:13
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=edc
    volumes:
      - ./deployment/bds-postgresql/data:/var/lib/postgresql/data
      - ./deployment/bds-postgresql/initdb:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d edc_provider-base"]
      interval: 5s
      timeout: 5s
      retries: 10

  provider-base:
    container_name: provider-base
    ports:
      - "19191:19191"
      - "19193:19193"
      - "19194:19194"
    depends_on:
      - bds-postgresql
    build: ./providers/provider-base
    restart: on-failure:5

  provider-ebird:
    container_name: provider-ebird
    ports:
      - "17191:17191"
      - "17193:17193"
      - "17194:17194"
    build: ./providers/provider-ebird
    depends_on:
      - bds-postgresql
    restart: on-failure:5

  provider-ebird-init:
    container_name: provider-ebird-init
    build:
      context: ./deployment/provider-ebird-init
      dockerfile: Dockerfile
    depends_on:
      - bds-postgresql
    env_file:
      - ./deployment/provider-ebird-init/.env
    restart: "no"
    volumes:
      - ./deployment/samples-server/samples/provider-ebird:/app/samples/data

  samples-server:
    container_name: samples-server
    build:
      context: deployment/samples-server
      dockerfile: Dockerfile
    ports:
      - "9099:80"
    volumes:
      - ./deployment/samples-server/samples:/usr/share/nginx/html/providers
      - ./deployment/samples-server/providers.map:/etc/nginx/providers.map
      - ./deployment/samples-server/nginx.conf:/etc/nginx/nginx.conf

  provider-mastral:
    container_name: provider-mastral
    ports:
      - "18191:18191"
      - "18193:18193"
      - "18194:18194"
    build: ./providers/provider-mastral
    depends_on:
      - bds-postgresql
    restart: on-failure:5

  consumer-base:
    container_name: consumer-base
    ports:
      - "29191:29191"
      - "29193:29193"
      - "29194:29194"
    build: ./consumers/consumer-base

  request-logger:
    container_name: request-logger
    ports:
      - 4001:4000
    build: ./util/http-request-logger

  fc-mongodb:
    container_name: fc-mongodb
    image: mongodb/mongodb-community-server:8.0-ubi8
    ports:
      - "27018:27017"
    volumes:
      - ./deployment/fc-mongodb/data/db:/data/db

  federated-catalog:
    container_name: federated-catalog
    ports:
      - "39191:39191"
      - "39193:39193"
      - "39194:39194"
      - "39195:39195"
    build: ./federated-catalog
    
  climate-service:
    container_name: climate-service
    ports:
      - "28191:28191"
      - "28193:28193"
      - "28194:28194"
    build: ./consumers/climate-service
    volumes:
      - ./deployment/assets/consumer:/app/consumer

  qdrant:
    container_name: qdrant
    image: qdrant/qdrant:latest
    restart: unless-stopped
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant-storage:/qdrant/storage
      - ./consumers/qdrant:/qdrant/config

  search-service:
    container_name: search-service
    build:
      context: ./consumers/search-service
      dockerfile: Dockerfile
    depends_on:
      - qdrant
      - federated-catalog
    environment:
      API_URL: http://qdrant:6333
      QDRANT_URL: http://qdrant:6333
      QDRANT_API_KEY: ""
      FC_QUERY_URL: http://federated-catalog:39195/api/catalog/v1alpha/catalog/query
      OUT_DIR: /app/datos
      OPENAI_API_KEY: ""
      API_KEY: "123"
    volumes:
      - ./consumers/search-service/opendatasearch/datos:/app/datos
    ports:
      - "8002:8002"
    restart: unless-stopped

  indexer-service:
    container_name: indexer-service
    build:
      context: ./consumers/indexer-service
      dockerfile: Dockerfile
    depends_on:
      - qdrant
      - federated-catalog
    volumes:
      - ./consumers/indexer-service/opendataindexer:/app
      - ./consumers/indexer-service/opendataindexer/datos:/app/datos
      - ./consumers/indexer-service/opendataindexer/samples:/app/samples
    environment:
      QDRANT_URL: http://qdrant:6333
      QDRANT_API_KEY: ""
      FC_QUERY_URL: http://federated-catalog:39195/api/catalog/v1alpha/catalog/query
      DATA_DIR: /app/datos
      OUT_DIR: /app/datos
      INDEX_DEBUG: "true"
      INDEX_SOLO_UN_RECURSO: "true"
      LIMIT: "200"
      WRITE_SAMPLES: "false"
      OFFSET: "0"
    stdin_open: true
    tty: true
    restart: "no"

volumes:
  qdrant-storage:
    driver: local
