services:

  bds-postgresql:
    container_name: bds-postgresql
    image: postgres:13
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=edc
    volumes:
      - postgresql_data:/var/lib/postgresql/data
      - ./deployment/bds-postgresql/initdb:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d edc_provider-base"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - base-ds-network

  provider-base:
    container_name: provider-base
    ports:
      - "19191:19191"
      - "19193:19193"
      - "19194:19194"
    depends_on:
      - bds-postgresql
    build: ./providers/provider-base
    restart: on-failure:5
    volumes:
      - ./resources/identity:/identity
    networks:
      - base-ds-network

  consumer-base:
    container_name: consumer-base
    ports:
      - "29191:29191"
      - "29193:29193"
      - "29194:29194"
    build: ./consumers/consumer-base
    volumes:
      - ./resources/identity:/identity
    networks:
      - base-ds-network

  request-logger:
    container_name: request-logger
    ports:
      - 4001:4000
    build: ./util/http-request-logger
    networks:
      - base-ds-network

  fc-mongodb:
    container_name: fc-mongodb
    image: mongodb/mongodb-community-server:8.2-ubi8
    ports:
      - "27018:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - base-ds-network

  federated-catalog:
    container_name: federated-catalog
    ports:
      - "39191:39191"
      - "39193:39193"
      - "39194:39194"
      - "39195:39195"
    build: ./federated-catalog
    networks:
      - base-ds-network

networks:
  base-ds-network:
    name: base-ds-network
    driver: bridge

volumes:
  postgresql_data:
  mongodb_data: