services:
  provider-ebird:
    container_name: provider-ebird
    ports:
      - "17191:17191"
      - "17193:17193"
      - "17194:17194"
      - "17291:17291"
    build: .
    restart: on-failure:5
    volumes:
      - ./resources/identity:/identity
    networks:
      - base-ds-network


  provider-ebird-init:
    container_name: provider-ebird-init
    build:
      context: ${PROVIDER_EBIRD_INIT_ROOT}
      dockerfile: Dockerfile
    env_file:
      - ${PROVIDER_EBIRD_INIT_ROOT}/.env
    restart: "no"
    volumes:
      - ${SAMPLES_ROOT}/samples/provider-ebird:/app/samples/data
    networks:
      - base-ds-network



  api:
    container_name: api
    image: ghcr.io/wake-ua/ds-api-samples:ee17751
    volumes:
      - ${SAMPLES_ROOT}/samples:/samples/
    restart: always
    ports:
      - "8005:8005"
    networks:
        - base-ds-network
    env_file:
      - ./.env


  sample-postgresql:
    container_name: sample-postgresql
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: samples
    ports:
      - "5435:5432"
    volumes:
      - ${SAMPLES_ROOT}/postgres_data:/var/lib/postgresql/data
      - ${SAMPLES_ROOT}/postgres:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d samples"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      -  base-ds-network


  sample-server:
    image: nginx:alpine
    ports:
      - "9990:80"
    volumes:
      - ${SAMPLES_ROOT}/samples:/srv/samples:ro
      - ${SAMPLES_ROOT}/server/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      -  base-ds-network



volumes:
  postgres:

networks:
  base-ds-network:
    external: true

